<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cosmax.media.system.db.provider.mapper.MediaDoubanScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cosmax.media.system.commons.domain.douban.MediaDoubanSchedule">
        <id column="media_id" property="mediaId" />
        <result column="state" property="state" />
    </resultMap>

</mapper>
